noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5CMWJM', height='0', width='0', style='display:none;visibility:hidden')
script.
  (function(w, d, s, l, i) {
  w[l] = w[l] || [];
  w[l].push({
  'gtm.start': new Date().getTime(),
  event: 'gtm.js'
  });
  var f = d.getElementsByTagName(s)[0],
  j = d.createElement(s),
  dl = l != 'dataLayer' ? '&l=' + l : '';
  j.async = true;
  j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
  f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-5CMWJM');
// End Google Tag Manager
.overlay-background.prevent-document-scroll
.breakpoints
  .breakpoint.standard(data-breakpoint='standard')
  .breakpoint.large(data-breakpoint='large')
  .breakpoint.medium(data-breakpoint='medium')
  .breakpoint.small(data-breakpoint='small')
  .breakpoint.retina(data-breakpoint='retina')
// header section
header#header-main.force-repaint-width.move-header-if-lt-ie10(data-module='header')
  // Logo on top
  .logo
    a(href='/us/en/') Gucci
  // bag tag
  nav#header-nav-bag-wrapper.header-nav-bag-wrapper.header-nav-group.header-nav-group-hover(data-module='headerUpdate')
    a.header-nav-parent-bag.header-nav-parent.header-nav-parent.header-nav-parent-link(href='/us/en/cart')
      span.title Bag
      span.shopping-bag-product-count
      span.caret
      span.caret-overlay
    #header-nav-bag.header-nav-child-bag.header-nav-child-bag-empty.header-nav-child.header-nav-fixed
      .header-nav-child-bag-wrapper
  a.header-nav-parent-main.header-ssa-display-mobile(href='#header-nav') Menu
  a.header-nav-back(href='#header-nav') Back
  // the navigation bar and the tags on the top left
  nav#header-nav.header-nav-group
    .header-nav-drawer.header-nav-drawer-child.prevent-document-touchmove
    #header-nav-child-main.header-nav-child.header-nav-drawer
      // the main navigation tags
      ul.header-nav-sections
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-0.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/lo/runway-c-runway') Runway
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/lo/runway-c-runway') Runway
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-2
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/lo/runway/women-c-runway-women') Women
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/lo/runway/women-c-runway-women') Women
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/runway/women/pre-fall-2016-c-women-runway-pre-fall-2016') Pre-Fall 2016
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/runway/women/spring-summer-2016-runway-c-runway-women-spring-summer-2016-runway') Spring Summer 2016 Runway
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/lo/runway/men-c-runway-men') Men
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/lo/runway/men-c-runway-men') Men
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/runway/men/pre-fall-2016-c-men-runway-pre-fall-2016') Pre-Fall 2016
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/runway/men/spring-summer-2016-runway-c-runway-men-spring-summer-2016-runway') Spring Summer 2016 Runway
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-1.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/women-c-women') Women
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/women-c-women') Women
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-4
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/women/handbags-c-women-handbags') Handbags
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/women/handbags-c-women-handbags') Handbags
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-new-gg-marmont-c-women-handbags-marmont') New: GG Marmont
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-top-handles-boston-bags-c-women-handbags-top-handles-and-boston-bags') Top Handles & Boston Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-totes-c-women-handbags-totes') Totes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-shoulder-bags-c-women-handbags-shoulder-bags') Shoulder Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-hobos-c-women-handbags-hobos') Hobos
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-crossbody-bags-c-women-handbags-crossbody') Crossbody Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-backpacks-c-women-handbags-backpacks') Backpacks
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-mini-bags-c-women-handbags-mini-bags') Mini Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-clutches-evening-c-women-handbags-clutches-and-evening') Clutches & Evening
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-exotics-c-women-handbags-exotics') Exotics
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/women/womens-ready-to-wear-c-women-readytowear') Ready To Wear
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/women/womens-ready-to-wear-c-women-readytowear') Ready To Wear
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-denim-c-women-readytowear-denim') New: Denim
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-dresses-c-women-readytowear-dresses') Dresses
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-leather-fur-c-women-readytowear-leather-and-fur') Leather & Fur
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-jackets-c-women-readytowear-jackets') Jackets
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-coats-outerwear-c-women-readytowear-coats-and-outerwear') Coats & Outerwear
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-tops-shirts-c-women-readytowear-tops-and-shirts') Tops & Shirts
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-sweaters-cardigans-c-women-readytowear-sweaters-and-cardigans') Sweaters & Cardigans
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/new-sweatshirts-c-women-readytowear-new-sweatshirts') Sweatshirts
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-skirts-c-women-readytowear-skirts') Skirts
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-pants-shorts-c-women-readytowear-pants-and-shorts') Pants & Shorts
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/women/womens-shoes-c-women-shoes') Shoes
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/women/womens-shoes-c-women-shoes') Shoes
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-pumps-c-women-shoes-pumps') Pumps
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-sandals-c-women-shoes-sandals') Sandals
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-moccasins-loafers-c-women-shoes-moccasins-and-loafers') Moccasins & Loafers
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-ballerina-flats-c-women-shoes-ballerina-flats') Ballerina Flats
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-slides-mules-c-women-shoes-slides-and-mules') Slides & Mules
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-boots-booties-c-women-shoes-boots-and-booties') Boots & Booties
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-clogs-c-women-shoes-clogs') Clogs
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-espadrilles-wedges-c-women-shoes-espadrilles-and-wedges') Espadrilles & Wedges
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-sneakers-c-women-shoes-sneakers') Sneakers
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/women/womens-accessories-c-women-accessories') Accessories
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/women/womens-accessories-c-women-accessories') Accessories
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-luggage-lifestyle-bags-c-women-accessories-luggage-and-lifestyle-bags') Luggage & Lifestyle Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-wallets-c-women-accessories-wallets') Wallets
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-small-accessories-tech-c-women-accessories-small-accessories-tech') Small Accessories & Tech
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-belts-c-women-accessories-belts') Belts
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-silks-scarves-c-women-accessories-silks-and-scarves') Silks & Scarves
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-hats-gloves-c-women-accessories-hats-and-gloves') Hats & Gloves
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-fine-jewelry-c-women-accessories-fine-jewelry') Fine Jewelry
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-silver-fashion-jewelry-c-women-accessories-jewelry') Silver Jewelry
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-watches-c-women-accessories-watches') Watches
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-sunglasses-c-women-accessories-sunglasses') Sunglasses
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                    li
                      a.header-nav-item(href='/us/en/ca/women/womens-fashion-jewelry-c-women-fashion-jewelry') Fashion Jewelry
                    li
                      a.header-nav-item(href='/us/en/st/capsule/women/womens-evening-wear') Eveningwear
                    li
                      a.header-nav-item(href='/us/en/st/capsule/gucci-stories') Gucci Stories
                    li
                      a.header-nav-item(href='/us/en/st/capsule/denim') Embroidered Denim
                    li
                      a.header-nav-item(href='/us/en/st/capsule/women-ace') Ace
                    li
                      a.header-nav-item(href='/us/en/ca/women/gucci-signature-c-women-gucci-signature') Gucci Signature
                    li
                      a.header-nav-item(href='/us/en/ca/women/gucci-tian-c-women-special-collection-gucci-tian') Gucci Tian
                    li
                      a.header-nav-item(href='/us/en/ca/women/blooms-c-women-special-collection-blooms') GG Blooms
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-2.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/men-c-men') Men
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/men-c-men') Men
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-4
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/men/mens-bags-c-men-bags') Bags
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/men/mens-bags-c-men-bags') Bags
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-messengers-bags-c-men-bags-messenger-bags') Messenger Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-backpacks-c-men-bags-backpacks') Backpacks
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-belts-bags-c-men-bags-belt-bags') Belt Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-totes-c-men-bags-totes') Totes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-portfolios-c-men-bags-portfolios') Portfolio
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-briefcases-c-men-bags-briefcases') Briefcases
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-duffle-bags-c-men-bags-duffle-bags') Duffle Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-luggage-c-men-bags-luggage') Luggage
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/men/mens-ready-to-wear-c-men-readytowear') Ready To Wear
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/men/mens-ready-to-wear-c-men-readytowear') Ready To Wear
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-denim-c-men-ready-to-wear-denim') New: Denim
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-suits-c-men-readytowear-suits') Suits
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-jackets-c-men-readytowear-jackets') Jackets
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-coats-outerwear-c-men-readytowear-coats-and-outerwear') Coats & Outerwear
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-leather-jackets-c-men-readytowear-leather-jackets') Leather Jackets
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-dress-shirts-sports-shirts-c-men-readytowear-dress-shirts-and-sports-shirts') Dress Shirts & Sport Shirts
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-sweaters-cardigans-c-men-readytowear-sweaters-and-cardigans') Sweaters & Cardigans
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/new-sweatshirts-c-men-readytowear-new-sweatshirts') Sweatshirts
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-t-shirts-polos-c-men-readytowear-tshirts-and-polos') T-shirts & Polos
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-pants-shorts-c-men-readytowear-pants-and-shorts') Pants & Shorts
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/men/mens-shoes-c-men-shoes') Shoes
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/men/mens-shoes-c-men-shoes') Shoes
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-moccasins-loafers-c-men-shoes-moccasins-and-loafers') Moccasins & Loafers
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-lace-ups-c-men-shoes-lace-ups') Lace Ups
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-monk-straps-c-men-shoes-monk-straps') Monk Straps
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-boots-c-men-shoes-boots') Boots
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-drivers-c-men-shoes-drivers') Drivers
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-sandals-c-men-shoes-sandals') Sandals
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-sneakers-c-men-shoes-sneakers') Sneakers
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-exotics-c-men-shoes-exotics') Exotics
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/men/mens-accessories-c-men-accessories') Accessories
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/men/mens-accessories-c-men-accessories') Accessories
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-wallets-c-men-accessories-wallets') Wallets
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-small-accessories-tech-c-men-accessories-small-accessories-tech') Small Accessories & Tech
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-belts-c-men-accessories-belts') Belts
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-ties-c-men-accessories-ties') Ties
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-scarves-c-men-accessories-scarves') Scarves
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-hats-gloves-c-men-accessories-hats-and-gloves') Hats & Gloves
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-fine-jewelry-c-men-accessories-fine-jewelry') Fine Jewelry
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-silver-fashion-jewelry-c-men-accessories-jewelry') Silver Jewelry
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-watches-c-men-accessories-watches') Watches
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-sunglasses-c-men-accessories-sunglasses') Sunglasses
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                    li
                      a.header-nav-item(href='/us/en/st/capsule/men/men-suiting') Suiting
                    li
                      a.header-nav-item(href='/us/en/st/capsule/men/men-formal-wear') Formal Wear
                    li
                      a.header-nav-item(href='/us/en/st/capsule/gucci-stories') Gucci Stories
                    li
                      a.header-nav-item(href='/us/en/st/capsule/denim') Embroidered Denim
                    li
                      a.header-nav-item(href='/us/en/ca/men/mens-fashion-jewelry-c-men-fashion-jewelry') Fashion Jewelry
                    li
                      a.header-nav-item(href='/us/en/st/capsule/men-ace') Ace
                    li
                      a.header-nav-item(href='/us/en/ca/men/gucci-signature-c-men-gucci-signature') Gucci Signature
                    li
                      a.header-nav-item(href='/us/en/ca/men/gucci-tian-c-men-special-collection-gucci-tian') Gucci Tian
                    li
                      a.header-nav-item(href='/us/en/ca/men/blooms-caleido-c-men-special-collection-blooms-caleido') GG Blooms
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-3.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/children-c-children') children
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/children-c-children') children
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-4
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/children/baby-c-children-baby') Baby
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/children/baby-c-children-baby') Baby
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/newborn-c-children-baby-newborn') Newborn
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/girls-0-36-m-c-children-baby-girls-0-36-m') Girls 0-36m
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/boys-0-36-m-c-children-baby-boys-0-36-m') Boys 0-36m
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/baby-shoes-c-children-baby-baby-shoes') Baby Shoes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/toddler-shoes-20-26-c-children-baby-toddler-shoes') Toddler Shoes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/baby-accessories-c-children-baby-accessories') Accessories
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/diaper-bags-totes-c-children-baby-diaper-bags-and-totes') Diaper Bags & Totes
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/children/girls-c-children-girls') Girls
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/children/girls-c-children-girls') Girls
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/girls/girls-clothing-4-12-years-c-children-girls-clothing-4-12') Clothing 4-12
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/girls/girls-shoes-c-children-girls-shoes') Shoes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/girls/girls-accessories-c-children-girls-accessories') Accessories
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/girls/girls-special-occasion-c-children-girls-special-occasion') Special Occasion
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/children/boys-c-children-boys') Boys
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/children/boys-c-children-boys') Boys
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/boys/boys-clothing-4-12-years-c-children-boys-clothing-4-12') Clothing 4-12
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/boys/boys-shoes-20-38-c-children-boys-shoes') Shoes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/boys/boys-accessories-c-children-boys-accessories') Accessories
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/boys/boys-special-occasion-c-children-boys-special-occasion') Special Occasion
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/children/childrens-gifts-c-children-gift') Gift
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/children/childrens-gifts-c-children-gift') Gift
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/childrens-gifts/for-baby-c-children-gift-for-baby') For Baby
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/childrens-gifts/for-mom-c-children-gift-for-mom') For Mom
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/lo/children/childrens-collections-c-children-collections') Collections
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/lo/children/childrens-collections-c-children-collections') Collections
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/children/childrens-collections/baby-c-children-collections-baby') Baby
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/children/childrens-collections/girl-c-children-collections-girl') Girl
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/children/childrens-collections/boy-c-children-collections-boy') Boy
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-4.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/beauty-c-beauty') Beauty
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty-c-beauty') Beauty
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-4
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/beauty/eyes-c-beauty-eyes') Eyes
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty/eyes-c-beauty-eyes') Eyes
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/mono-eyeshadow-c-beauty-eyes-mono-eyeshadow') Mono Eyeshadow
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/duo-eyeshadow-c-beauty-eyes-duo-eyeshadow') Duo Eyeshadow
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/quad-eyeshadow-c-beauty-eyes-quad-eyeshadow') Quad Eyeshadow
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/mascara-c-beauty-eyes-mascara') Mascara
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/eyebrow-pencil-c-beauty-eyes-eyebrow-pencil') Eyebrow Pencil
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/eye-brushes-c-beauty-eyes-eye-brushes') Eye Brushes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/eye-liner-c-beauty-eyes-eyeliner') Eye Liner
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/beauty/lips-c-beauty-lips') Lips
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty/lips-c-beauty-lips') Lips
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/matte-lipstick-c-beauty-lips-matte-lipstick') Matte Lipstick
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/pigment-rich-lipstick-c-beauty-lips-audacious-lipstick') Pigment-Rich Lipstick
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/moisture-rich-lipstick-c-beauty-lips-luxurious-lipstick') Moisture-Rich Lipstick
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/lip-gloss-c-beauty-lips-lip-gloss') Lip Gloss
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/lip-pencil-c-beauty-lips-lip-pencil') Lip Pencil
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/lip-brush-c-beauty-lips-lip-brush') Lip Brush
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/beauty/face-c-beauty-face') Face
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty/face-c-beauty-face') Face
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/foundation-c-beauty-face-foundation') Foundation
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/concealer-c-beauty-face-concealer') Concealer
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/blushing-powder-c-beauty-face-blushing-powder') Blushing Powder
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/bronzer-c-beauty-face-bronzer') Bronzer
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/finishing-powder-c-beauty-face-finishing-powder') Finishing Powder
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/face-brushes-c-beauty-face-face-brushes') Face Brushes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/skincare-c-beauty-skincare') Skincare
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/beauty/nails-c-beauty-nails') Nails
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty/nails-c-beauty-nails') Nails
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/base-c-beauty-nails-base') Base
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/gloss-c-beauty-nails-gloss') Gloss
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/metallic-c-beauty-nails-metallic') Metallic
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/neutral-c-beauty-nails-neutral') Neutral
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/bright-c-beauty-nails-bright') Bright
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/dark-c-beauty-nails-dark') Dark
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                    li
                      a.header-nav-item(href='/us/en/ca/beauty/fragrances/fragrances-for-women-c-fragrances-for-women') Fragrances for Women
                    li
                      a.header-nav-item(href='/us/en/ca/beauty/fragrances/fragrances-for-men-c-fragrances-for-men') Fragrances for Men
                    li
                      a.header-nav-item(href='/us/en/ca/beauty/spring-summer-2016-color-collection-c-beauty-spring-summer-2016-color-collection') 2016 Color Collection
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        // CASE OF "GIFTS": no top name for the internal menus, only internal links
        li.header-nav-section.header-nav-section-5.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/gifts-c-gifts') Gifts
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/gifts-c-gifts') Gifts
            .header-nav-section-sub
              .header-nav-section-sub-2
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-child-list
                      ul
                        li
                          a.header-nav-item(href='/us/en/ca/gifts/gifts-for-her-c-gifts-for-her') For Her
                        li
                          a.header-nav-item(href='/us/en/ca/gifts/gifts-for-him-c-gifts-for-him') For Him
                        li
                          a.header-nav-item(href='/us/en/ca/children/childrens-gifts/gifts-for-children-c-gifts-for-children') For Children
                        li
                          a.header-nav-item(href='/us/en/ca/gifts/corporate-gifts-c-gifts-corporate-gifts') Corporate Gifts
                    // .header-nav-child-list
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-child-list
                      ul
                    // .header-nav-child-list
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group(style="background-image:url('https://media.gucci.com/content/NavMegaPromo_452x150/1454085385/NavMegaPromo_ivory-wrap-new_001_Default.png')")
              // .header-nav-section-sub-2
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-6.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/sale-c-sale') Sale
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/sale-c-sale') Sale
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-3
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/sale/women-c-sale-women') WOMEN
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/sale/women-c-sale-women') WOMEN
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/women/handbags-c-sale-women-handbags') Handbags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/women/womens-shoes-c-sale-women-shoes') Shoes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/women/womens-accessories-c-sale-women-accessories') Accessories
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/sale/men-c-sale-men') Men
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/sale/men-c-sale-men') Men
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/men/mens-bags-c-sale-men-bags') Bags
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/men/mens-shoes-c-sale-men-shoes') Shoes
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/men/mens-accessories-c-sale-men-accessories') Accessories
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/sale/children-c-sale-children') CHILDREN
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/sale/children-c-sale-children') CHILDREN
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/children/clothing-0-36m-c-sale-children-clothing-0-36-m') Baby Clothing 0-36m
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/children/baby-shoes-accessories-c-sale-baby-shoes-and-accessories') Baby Shoes & Accessories
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/children/clothing-4-12-years-c-sale-children-clothing-4-12') Children's Clothing 4-12
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/children/childrens-shoes-accessories-c-sale-children-shoes-and-accessories') Children's Shoes & Accessories
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        li.header-nav-section.header-nav-section-6.header-nav-group.header-nav-group-hover
          // If less that two issues directly show the page
          .header-nav-section-title
            a(href='/us/en/st/the-agenda') the agenda
      // for saved items might be commented
      ul.header-nav-user.header-nav-secondary
        li#header-nav-favorites.header-nav-group.header-nav-group-hover.hide(data-module='savedItemsFlyout')
          a.header-nav-parent-favorites.header-nav-parent.header-nav-parent-link-medium.header-nav-item
            span.title
            span#saved-items-count(data-saved-items-count='')
          #header-nav-favorites.header-nav-child-favorites.header-nav-child.header-nav-fixed
          input#hasSavedItem(type='hidden', value='false')
        li#header-nav-user.header-nav-group.header-nav-group-hover
          a.header-nav-parent-account.header-nav-parent.header-nav-parent-link.header-nav-item
      // service tags on top-left
      ul.header-nav-settings.header-nav-secondary
        li.header-nav-group-ship-to.header-nav-group
          // The tag
          a.header-nav-parent-ship-to.header-nav-parent.header-nav-item(href='#header-nav-ship-to') Ship to: United States
          // The modal
          nav#header-nav-ship-to.header-nav-ship-to-overlay-wrapper.header-nav-child.overlay(data-module='overlay')
            .header-nav-ship-to-overlay
              .header-nav-ship-to-content-wrapper.overlay-wrapper
                .header-nav-ship-to-content.overlay-content
                  button.header-nav-ship-to-close.overlay-close(type='button') Close
                  header.header-nav-ship-to-header
                    .location-title Please select your location.
                    p
                      | Be advised that changing your location while shopping will remove all the contents from your shopping bag.
                  h3 ONLINE SHOPPING AVAILABLE
                  .header-nav-ship-to-countries
                    ul.header-nav-ship-to-countries-section
                      li.header-nav-ship-to-countries-group.header-nav-ship-to-north-america.header-nav-group
                        strong.header-nav-parent.header-nav-parent-non-standard NORTH AMERICA
                        .header-nav-child
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='/ca/en') Canada
                            li
                              a.header-nav-item.header-nav-item(href='/us/en') United States
                      li.header-nav-ship-to-countries-group.header-nav-ship-to-europe.header-nav-group
                        strong.header-nav-parent.header-nav-parent-non-standard EUROPE
                        .header-nav-child
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/at') Austria
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/be') Belgium
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/bg') Bulgaria
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/cz') Czech Republic
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/dk') Denmark
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/de') Germany
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/es') Spain
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/fi') Finland
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/fr') France
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/hu') Hungary
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/ie') Ireland
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/it') Italy
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/nl') Netherlands
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/no') Norway
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/pl') Poland
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/pt') Portugal
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/ro') Romania
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/si') Slovenia
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/se') Sweden
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/ch') Switzerland
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/tr') Turkey
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/uk') United Kingdom
                    ul.header-nav-ship-to-countries-section
                      li.header-nav-ship-to-countries-group.header-nav-ship-to-asia.header-nav-group
                        strong.header-nav-parent.header-nav-parent-non-standard ASIA
                        .header-nav-child
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/kr') 한국 / Korea
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/jp') 日本 / Japan
                      li.header-nav-ship-to-countries-group.header-nav-ship-to-middle-east.header-nav-group
                        strong.header-nav-parent.header-nav-parent-non-standard MIDDLE EAST
                        .header-nav-child
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/ae') United Arab Emirates
                      li.header-nav-ship-to-countries-group.header-nav-ship-to-oceania.header-nav-group
                        strong.header-nav-parent.header-nav-parent-non-standard OCEANIA
                        .header-nav-child
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/au') Australia
                      li.header-nav-ship-to-countries-group.header-nav-ship-to-other-countries.header-nav-group
                        strong.header-nav-title FOR ALL OTHER COUNTRIES
                        .header-nav-block
                          ul
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/int') International Site
                            li
                              a.header-nav-item.header-nav-item(href='http://www.gucci.com/cn') 中国 / China
        li.header-nav-group.header-nav-group-hover.disable-nav-group
          span.header-nav-parent-language.header-nav-parent.header-nav-item English
        li.header-nav-group.header-ssa-to-display
          .header-nav-assitance-call.header-nav-item.header-nav-link.visible-for-standard.overlay-open
            span.phone-number +1.877.482.2430
          .header-nav-assitance-call.header-nav-item.header-nav-link.hidden-for-standard
            span.title Client Services:  
            a.phone-number(href='tel:+1.877.482.2430') +1.877.482.2430
  // END the navigation bar
  // The search field
  .header-nav-group
    a.header-nav-parent-search.header-nav-parent(href='#scroll-wrapper')
      span.title Search
      span.caret-overlay
      span.caret
    form#header-nav-search.header-nav-child(action='/us/en/search', method='get', data-module='searchFlyout')
      input#predictive-search-enabled(type='hidden', value='false', data-autocomplete-enabled='false', data-product-suggestions-enabled='false', data-category-suggestions-enabled='false', data-recent-search-history-enabled='false', data-popular-categories-enabled='false')
      input#autocompleteUrl(type='hidden', value='/us/en/search/autocomplete/SearchBoxComponent?term=')
      label.visually-hidden(for='header-nav-search-input') Search
      span#header-nav-search-input-disabled(data-placeholder='Search products')
      input(type='hidden', name='search-cat', value='header-search')
      input#header-nav-search-input.header-nav-child-focus(name='text', placeholder='Search', type='text', value='', autocomplete='off', data-trigger-predictive-count='1000', data-placeholder='Search products')
      input.header-nav-search-submit(type='submit', value='GO')
  // END the search field
  //
    not parsed, might be commented out
    These codes are not shown but they might be useful when the backend is done. To make things simpler, I just leave them there commented out
  //
    <script id="template-list-products" type="text/x-handlebars-template">
    <li class="search-flyout-item">
    <a href="{{url}}" data-style-id="{{productCode}}">
    <div class="search-flyout-item-image-wrapper">
    <img alt="product Alt" data-src="{{primaryImage.datasrc}}" data-src_medium="{{primaryImage.datasrcmedium}}" data-src_medium_retina="{{primaryImage.datasrcmediumretina}}" data-src_small="{{primaryImage.datasrcsmall}}" data-src_small_retina="{{primaryImage.datasrcsmallretina}}"
    data-src_standard="{{primaryImage.datasrcstandard}}" data-src_standard_retina="{{primaryImage.datasrcstandardretina}}" src="{{primaryImage.src}}" />
    </div>
    <div class="search-flyout-item-description-wrapper">
    <strong>{{title}}</strong>
    <p>
    {{{description}}}
    </p>
    </div>
    </a>
    </li>
    </script>
  // not parsed, might be commented out
  //
    <script id="template-list-categories" type="text/x-handlebars-template">
    <li class="search-flyout-item">
    <a href="{{url}}" data-style-id="{{productCode}}">{{title}}</a>
    </li>
    </script>
    <script id="template-list-articles" type="text/x-handlebars-template">
    <h1>Gucci</h1>
    <div class="search-flyout-articles-description">
    <p>Riding Boot With Gucci CrestLeather<span>
    <a href="#">...READ MORE</a></span></p>
    </div>
    </script>
  // not parsed, might be commented out
  //
    <script id="template-no-suggestions" type="text/x-handlebars-template">
    <li class="search-flyout-item-suggestion">
    <a href="{{url}}">{{title}}</a>
    </li>
    </script>
  // for signed in, not shown, might be commented out
  //
    <script id="header-my-account-menu" type="text/x-handlebars-template">
    <li class="header-nav-group header-nav-group-hover">
    <a class="header-nav-parent-account header-nav-parent header-nav-parent-link header-nav-item" href="/account-landing/">My Account</a>
    <ul class="header-nav-child-account header-nav-child nav-child-my-account-options" id="header-nav-account">
    <li><a class="header-nav-item nav-item-account-option option-my-account-home" href="/account-landing">My Account</a></li>
    <li><a class="header-nav-item nav-item-account-option" href="/wallet">Wallet</a></li>
    <li><a class="header-nav-item nav-item-account-option" href="/my-orders">My Orders</a></li>
    <li><a class="header-nav-item nav-item-account-option" href="/saved-items">Saved Items <span class="account-option-quantity account-option-saved-items-quantity">({{ favoritesCount }})</span></a></li>
    <li><a class="header-nav-item nav-item-account-option" href="/recommended">Recommended</a></li>
    <li><a class="header-nav-item nav-item-account-option" href="/account-settings">Account Settings</a></li>
    <li><a class="header-nav-item nav-item-account-option" href="/address-book">Address Book</a></li>
    <li><a class="header-nav-item nav-item-account-option" href="/sign-out">Sign Out</a></li>
    </ul>
    </li>
    </script>
  // shopping bag hover toggle modal
  //
    <script type="text/x-handlebars-template" id="shopping-bag-flyout-template">
    <div class="header-nav-bag-title _shadow-wrapper-top">Shopping Bag</div>
    {{#if items}}
    <ul class="header-nav-bag-list header-nav-scrollable header-nav-scroll-snap header-nav-scroll-snap-all prevent-document-scroll">
    {{#each items}}
    <li class="header-nav-bag-item header-nav-scroll-snap-item">
    <a href="/us/en{{url}}" data-style-id="{{ id }}">
    <img alt="{{ title }}" class="_loaded" data-src="{{imgBase.datasrc}}" data-src_medium="{{imgBase.datasrcmedium}}" data-src_medium_retina="{{imgBase.datasrcmediumretina}}" data-src_small="{{imgBase.datasrcsmall}}" data-src_small_retina="{{imgBase.datasrcsmallretina}}"
    data-src_standard="{{imgBase.datasrcstandard}}" data-src_standard_retina="{{imgBase.datasrcstandardretina}}" src="{{imgBase.src}}" />
    <img alt="{{ title }}" class="_hover _loaded" data-src="{{alternateImage.datasrc}}" data-src_medium="{{alternateImage.datasrcmedium}}" data-src_medium_retina="{{alternateImage.datasrcmediumretina}}" data-src_small="{{alternateImage.datasrcsmall}}" data-src_small_retina="{{alternateImage.datasrcsmallretina}}"
    data-src_standard="{{alternateImage.datasrcstandard}}" data-src_standard_retina="{{alternateImage.datasrcstandardretina}}" src="{{alternateImage.src}}" />
    <div class="header-nav-bag-item-info">
    <strong>{{ title }}</strong>
    <ul class="header-nav-bag-item-details">
    <li>Style {{ styleId }}</li>
    <li>Quantity: {{ quantity }}</li>
    <li>Price: {{#if originalPrice}}
    <del>{{ originalPrice }}</del> {{/if}}{{ price }}</li>
    {{#unless noSizeProduct}}
    <li>Size: {{ size }}</li>
    {{/unless}} {{#if monogram}}
    <li>Monogram: {{ monogram }}</li>
    {{/if}}
    </ul>
    </div>
    </a>
    </li>
    {{/each}}
    </ul>
    <div class="header-nav-sub-total _shadow-wrapper-bottom">
    <span class="label">Sub Total</span> <span class="amount">{{order-total}}</span>
    </div>
    <a class="header-nav-checkout" href="{{#if user.isAuthenticated}}/us/en/checkout/single{{else}}/sign-in/{{/if}}">Checkout</a>
    <a class="header-nav-bag-details" href="/us/en/cart">View Bag Details</a> {{else}}
    <p class="empty">Currently empty</p> {{/if}}
    </script>
  // BUGFIX S15 GR-4523 - Template moved to out of logged in conditional
  // unknown script, might be commented
  //
    <script type="text/x-handlebars-template" id="saved-item-flyout-template">
    <li class="header-nav-favorites-item header-nav-scroll-snap-item">
    <a href="{{ url }}">
    <img alt="{{ title }}" class="_loaded" data-src="{{ imgBase.datasrc }}" data-src_medium="{{ imgBase.datasrcmedium }}" data-src_medium_retina="{{ imgBase.datasrcmediumretina }}" data-src_small="{{ imgBase.datasrcsmall }}" data-src_small_retina="{{ imgBase.datasrcsmallretina }}"
    data-src_standard="{{ imgBase.datasrcstandard }}" data-src_standard_retina="{{ imgBase.datasrcstandardretina }}" src="{{ imgBase.src }}" />
    <img alt="{{ title }}" class="_hover _loaded" data-src="{{ imgBaseHover.datasrc }}" data-src_medium="{{ imgBaseHover.datasrcmedium }}" data-src_medium_retina="{{ imgBaseHover.datasrcmediumretina }}" data-src_small="{{ imgBaseHover.datasrcsmall }}" data-src_small_retina="{{ imgBaseHover.datasrcsmallretina }}"
    data-src_standard="{{ imgBaseHover.datasrcstandard }}" data-src_standard_retina="{{ imgBaseHover.datasrcstandardretina }}" src="{{ imgBaseHover.src }}" />
    <div class="header-nav-favorites-item-info">
    <strong>{{ title }}</strong>
    <p>Added {{ dateAdded }}</p>
    </div>
    </a>
    </li>
    </script>
// END all header seciton
