extends layout

block body
  body.page-HP-USCA-s63-June-20-23-stories-conde-nast.pageType-ContentPage.template-pages--home-homepage.pageLabel-.language-en
    include header
    #page
      script(type='text/javascript').
        var videoid = {
          showLoopVideo: '',
          loopVideoId: '',
          loopCount: '',
          loopIndefinite: 'true',
          loopOpacity: '',
          layerColor: ''
        }
      // The big hero thing
      header.hero.hero-large.hero-homepage.video-parent.HomepageHeroHeader_USCA_June_20(data-module='heroLarge, video')
        .hero-background-image-large-wrapper
          img.hero-background-image-large(alt='hero home', 
          data-src='images/hero/320x408.jpg', 
          data-src_medium='images/hero/768x386.jpg', 
          data-src_medium_retina='images/hero/1536x772.jpg', 
          data-src_small='images/hero/320x408.jpg', 
          data-src_small_retina='images/hero/640x816.jpg', 
          data-src_standard='images/hero/1600x640.jpg', 
          data-src_standard_retina='images/hero/3200x1280.jpg', 
          src='images/hero/320x408.jpg')
          .loop-opacity-layer  
        img.hero-background-image-large.hero-background-image-large-holder(alt='hero home', 
        data-src='images/hero/320x408.jpg', 
        data-src_medium='images/hero/768x386.jpg', 
        data-src_medium_retina='images/hero/1536x772.jpg', 
        data-src_small='images/hero/320x408.jpg', 
        data-src_small_retina='images/hero/640x816.jpg', 
        data-src_standard='images/hero/1600x640.jpg', 
        data-src_standard_retina='images/hero/3200x1280.jpg', 
        src='images/hero/320x408.jpg')
        .hero-content-wrapper.hero-large-content-wrapper
          .hero-content-centered
            h1.hero-title
              span.eyebrow gucci stories
              | 						The Myth of Orpheus and Eurydice
            a.button-gold.shop-the-collection(href='shop-the-looks') shop the looks
        .hero-diamond
          span.hero-diamond-icon
      // END The big hero thing
      // The secitons
      .content.gutter
        // The handbag section
        section.product-push.homepage(data-module='view360')
          .product-push-content-wrapper
            // The main picture and content
            .product-image-wrapper
              a(href='/us/en/ca/women/handbags-c-women-handbags?position=1&listName=ProductPush_eu-431777CDZIT8482_bis')
                img.product-image.static._loaded(alt='', 
                src='images/handbag/1400x1400.jpg', 
                data-src_standard='images/handbag/700x700.jpg', 
                data-src_standard_retina='images/handbag/1400x1400.jpg', 
                data-src_small='images/handbag/490x490.jpg', 
                data-src_small_retina='images/handbag/980x980.jpg', 
                data-src_medium='images/handbag/360x360.jpg', 
                data-src_medium_retina='images/handbag/720x720.jpg', 
                data-src='images/handbag/700x700.jpg')
            .product-push-content
              p.eyebrow handbags
              h2.product-title GG Marmont leather shoulder bag
              .shop-this
                a.button(href='/us/en/ca/women/handbags-c-women-handbags?position=1&listName=ProductPush_eu-431777CDZIT8482_bis', data-style-id='431777CDZIT8482') shop handbags
            script.
              dataLayer.push({
              "event": "productImpression",
              "ecommerce": {
              "impressions": [
              {
              "name": "GG Marmont leather shoulder bag",
              "id": "431777CDZIT8482",
              "price": "2600.0",
              "category": "Women/Handbags/Womens-Shoulder-Bags",
              "variant": "black leather ",
              "list": "ProductPush_eu-431777CDZIT8482_bis",
              "position": "1"
              },
              ]
              }
              });
            // The tag on the side
            .vignette-wrapper
              section.vignette.vignette-normal
                // TODO: set the correct copy_image_overlay_id
                a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='ProductPush_eu-431777CDZIT8482_bis', href='#ProductPush_eu-431777CDZIT8482_bis')
                  .image
                    // TODO: set the vignetteImageIcon properly
                    img.product-image.static(alt='Red Hearts', 
                    data-src_standard='images/handbag-tag/80x80.jpg', 
                    data-src_standard_retina='images/handbag-tag/160x160.jpg', 
                    data-src='images/handbag-tag/80x80.jpg', 
                    src='images/handbag-tag/80x80.jpg')
                  p.title Red Hearts
                  p.copy Feminine and whimsical, embedded hearts adorn the front.
                p.link
                  a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='ProductPush_eu-431777CDZIT8482_bis', href='#ProductPush_eu-431777CDZIT8482_bis') more
        // The modal red hearts tag
        .copy-image-overlay-wrapper
          section#ProductPush_eu-431777CDZIT8482_bis.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
            .vignette-overlay-wrapper
              .vignette-overlay-content-wrapper
                .overlay-content.vignette-overlay-content
                  .vignette-overlay-vignette-wrapper
                    section.vignette-overlay-vignette
                      .vignette-overlay-image
                        img.product-image.static(alt='Red Hearts', 
                        data-src_standard='images/handbag-tag/80x80.jpg', 
                        data-src_standard_retina='images/handbag-tag/160x160.jpg', 
                        data-src='images/handbag-tag/80x80.jpg', 
                        src='images/handbag-tag/80x80.jpg')
                      .vignette-overlay-signature
                        span.vignette-overlay-eyebrow pre-fall 2016
                        p.vignette-overlay-title Handbags
                        p.vignette-overlay-copy
                          | A rectangular shape, with heart and mouth motifs, is introduced as part of the GG Marmont collection.
                      a.vignette-overlay-full-vignette-cta(href='/us/en/ca/women/handbags-c-women-handbags', title='shop handbags') shop handbags
                  .vignette-overlay-main-wrapper
                    a.overlay-close-button-first.vignette-close-button.overlay-close(title='close', href='#')
                      span.close-button-content Close
                    figure.vignette-overlay-vignette-image-image
                      img(data-src='images/handbag-modal/456x317.jpg', 
                      data-src_medium='images/handbag-modal/612x426.jpg', 
                      data-src_medium_retina='images/handbag-modal/1224x852.jpg', 
                      data-src_small='images/handbag-modal/456x317.jpg', 
                      data-src_small_retina='images/handbag-modal/912x634.jpg', 
                      data-src_standard='images/handbag-modal/757x527.jpg', 
                      data-src_standard_retina='images/handbag-modal/1514x1054.jpg', 
                      src='images/handbag-modal/456x317.jpg', alt='copy-image')
        // The women section
        .giant-wrap
          .women-block.gender
            section.giant-look
              .level-up-giant-look(data-module='giantLook')
                .scrollercont
                  // The main picture
                  #look-tile.contain-image
                    .trigger
                    .img-block
                      .trigger
                      a(href='st/capsule/gucci-stories')
                        img.image.active(alt='', 
                        data-src='images/lady/792x2400.jpg', 
                        data-src_standard='images/lady/457x1384.jpg', 
                        data-src_standard_retina='images/lady/792x2400.jpg', 
                        src='images/lady/792x2400.jpg')
                    .giant-look-content-block
                      p.eyebrow from the story
                      h2.product-title Look No. 18
                      .shop-this
                        a.button(href='st/capsule/gucci-stories', data-style-id='FW16_MNWLook29US') shop the looks
                    // Eyebrow, diamond, cta
                  // Tartan pattern tag
                  .vignette-blocks
                    .container-blocks
                      .vignette-block
                        .vignette-wrapper
                          section.vignette.vignette-normal
                            // TODO: set the correct copy_image_overlay_id
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-435466Z574B1098_001_Default', href='#Vignette_us-435466Z574B1098_001_Default')
                              .image
                                // TODO: set the vignetteImageIcon properly
                                img.product-image.static(alt='Tartan Pattern', 
                                data-src_standard='images/pants-tag/80x80.jpg', 
                                data-src_standard_retina='images/pants-tag/160x160.jpg', 
                                data-src='images/pants-tag/80x80.jpg', 
                                src='images/pants-tag/80x80.jpg')
                              p.title Tartan Pattern
                              p.copy Check designs made a strong statement on the Fall Winter runway.
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-435466Z574B1098_001_Default', href='#Vignette_us-435466Z574B1098_001_Default') more
                      .vignette-block
                        .vignette-wrapper
                          section.vignette.vignette-normal
                            // TODO: set the correct copy_image_overlay_id
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-426143I45248498_001_Default', href='#Vignette_us-426143I45248498_001_Default')
                              .image
                                // TODO: set the vignetteImageIcon properly
                                img.product-image.static(alt='Mixed Metals', 
                                data-src_standard='images/jewelry-tag/80x80.jpg', 
                                data-src_standard_retina='images/jewelry-tag/160x160.jpg', 
                                data-src='images/jewelry-tag/80x80.jpg', 
                                src='images/jewelry-tag/80x80.jpg')
                              p.title Mixed Metals
                              p.copy Bold rings in distinct tones beautifully collide when worn together.
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-426143I45248498_001_Default', href='#Vignette_us-426143I45248498_001_Default') more
                      .vignette-block
                        .vignette-wrapper
                          section.vignette.vignette-normal
                            // TODO: set the correct copy_image_overlay_id
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-s53-fs-buckle_001_Light', href='#Vignette_us-s53-fs-buckle_001_Light')
                              .image
                                // TODO: set the vignetteImageIcon properly
                                img.product-image.static(alt='Dionysus Buckle', 
                                data-src_standard='images/boots-tag/80x80.jpg', 
                                data-src_standard_retina='images/boots-tag/160x160.jpg', 
                                data-src='images/boots-tag/80x80.jpg', 
                                src='images/boots-tag/80x80.jpg')
                              p.title Dionysus Buckle
                              p.copy The textured buckle has quickly become an iconic Gucci detail.
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-s53-fs-buckle_001_Light', href='#Vignette_us-s53-fs-buckle_001_Light') more
                  // Mixed metals tag
                  .conten-block-carousel
                    .contain-carousel-giant-look(data-module='slickCarousel')
                      ul.carousel-inner
                        li.carousel-slide-vignette
                          section.vignette.vignette-popout
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-435466Z574B1098_001_Default', href='#Vignette_us-435466Z574B1098_001_Default')
                              .image
                                img.product-image.static(alt='Tartan Pattern', 
                                data-src_standard='images/pants-tag/80x80.jpg', 
                                data-src_standard_retina='images/pants-tag/160x160.jpg', 
                                data-src='images/pants-tag/80x80.jpg', 
                                src='images/pants-tag/80x80.jpg')
                              p.title Tartan Pattern
                              p.copy Check designs made a strong statement on the Fall Winter runway.
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-435466Z574B1098_001_Default', href='#Vignette_us-435466Z574B1098_001_Default') more
                        li.carousel-slide-vignette
                          section.vignette.vignette-popout
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-426143I45248498_001_Default', href='#Vignette_us-426143I45248498_001_Default')
                              .image
                                img.product-image.static(alt='Mixed Metals', 
                                data-src_standard='images/jewelry-tag/80x80.jpg', 
                                data-src_standard_retina='images/jewelry-tag/160x160.jpg', 
                                data-src='images/jewelry-tag/80x80.jpg', 
                                src='images/jewelry-tag/80x80.jpg')
                              p.title Mixed Metals
                              p.copy Bold rings in distinct tones beautifully collide when worn together.
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-426143I45248498_001_Default', href='#Vignette_us-426143I45248498_001_Default') more
                        li.carousel-slide-vignette
                          section.vignette.vignette-popout
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-s53-fs-buckle_001_Light', href='#Vignette_us-s53-fs-buckle_001_Light')
                              .image
                                img.product-image.static(alt='Dionysus Buckle', 
                                data-src_standard='images/boots-tag/80x80.jpg', 
                                data-src_standard_retina='images/boots-tag/160x160.jpg', 
                                data-src='images/boots-tag/80x80.jpg', 
                                src='images/boots-tag/80x80.jpg')
                              p.title Dionysus Buckle
                              p.copy The textured buckle has quickly become an iconic Gucci detail.
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-s53-fs-buckle_001_Light', href='#Vignette_us-s53-fs-buckle_001_Light') more
                    // Carousel
        // The tartan modal
        section#Vignette_us-435466Z574B1098_001_Default.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
          .vignette-overlay-wrapper
            .vignette-overlay-content-wrapper
              .overlay-content.vignette-overlay-content
                .vignette-overlay-vignette-wrapper
                  section.vignette-overlay-vignette
                    .vignette-overlay-image
                      img.product-image.static(alt='Tartan Pattern', 
                      data-src_standard='images/pants-tag/80x80.jpg', 
                      data-src_standard_retina='images/pants-tag/160x160.jpg', 
                      data-src='images/pants-tag/80x80.jpg', 
                      src='images/pants-tag/80x80.jpg')
                    .vignette-overlay-signature
                      span.vignette-overlay-eyebrow Pre-Fall 2016
                      p.vignette-overlay-title Pants & Shorts
                      p.vignette-overlay-copy
                        | Pants are defined by relaxed fits and washed finishes, lending to the eclectic feel of the collection.
                    a.vignette-overlay-full-vignette-cta(href='/us/en/ca/women/womens-ready-to-wear/womens-pants-shorts-c-women-readytowear-pants-and-shorts', title='shop pants & shorts') shop pants & shorts
                .vignette-overlay-main-wrapper
                  a.overlay-close-button-first.copy-image-close-button.overlay-close(title='close', href='#Vignette_us-435466Z574B1098_001_Default')
                    span.close-button-content Close
                  figure.vignette-overlay-vignette-image-image
                    img(data-src='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_us-435466Z574B1098_001_Default.jpg', 
                    data-src_medium='https://media.gucci.com/content/VignetteOverlayBackground_Medium_612x426/1466093678/VignetteOverlayBackground_us-435466Z574B1098_001_Default.jpg', 
                    data-src_medium_retina='https://media.gucci.com/content/VignetteOverlayBackground_Medium_1224x852/1466093678/VignetteOverlayBackground_us-435466Z574B1098_001_Default.jpg', 
                    data-src_small='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_us-435466Z574B1098_001_Default.jpg', 
                    data-src_small_retina='https://media.gucci.com/content/VignetteOverlayBackground_Small_912x634/1466093678/VignetteOverlayBackground_us-435466Z574B1098_001_Default.jpg', 
                    data-src_standard='https://media.gucci.com/content/VignetteOverlayBackground_Standard_757x527/1466093678/VignetteOverlayBackground_us-435466Z574B1098_001_Default.jpg', 
                    data-src_standard_retina='https://media.gucci.com/content/VignetteOverlayBackground_Standard_1514x1054/1466093678/VignetteOverlayBackground_us-435466Z574B1098_001_Default.jpg', 
                    src='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_us-435466Z574B1098_001_Default.jpg', alt='copy-image')
        // The mixed metal modal
        section#Vignette_us-426143I45248498_001_Default.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
          .vignette-overlay-wrapper
            .vignette-overlay-content-wrapper
              .overlay-content.vignette-overlay-content
                .vignette-overlay-vignette-wrapper
                  section.vignette-overlay-vignette
                    .vignette-overlay-image
                      img.product-image.static(alt='Mixed Metals', data-src_standard='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1466093678/Vignette_us-426143I45248498_001_Light.jpg', 
data-src_standard_retina='https://media.gucci.com/content/LightGray_Vignette_Standard_160x160/1466093678/Vignette_us-426143I45248498_001_Light.jpg', 
data-src='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1466093678/Vignette_us-426143I45248498_001_Light.jpg', 
src='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1466093678/Vignette_us-426143I45248498_001_Light.jpg')
                    .vignette-overlay-signature
                      span.vignette-overlay-eyebrow Pre-Fall 2016
                      p.vignette-overlay-title Fashion Jewelry
                      p.vignette-overlay-copy
                        | Color enhanced stones, jewels and gems stack up and across each hand as a defining feature of Gucci.
                    a.vignette-overlay-full-vignette-cta(href='/us/en/ca/women/womens-fashion-jewelry-c-women-fashion-jewelry', title='shop fashion jewelry') shop fashion jewelry
                .vignette-overlay-main-wrapper
                  a.overlay-close-button-first.copy-image-close-button.overlay-close(title='close', href='#Vignette_us-426143I45248498_001_Default')
                    span.close-button-content Close
                  figure.vignette-overlay-vignette-image-image
                    img(data-src='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_us-426143I45248498_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/VignetteOverlayBackground_Medium_612x426/1466093678/VignetteOverlayBackground_us-426143I45248498_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/VignetteOverlayBackground_Medium_1224x852/1466093678/VignetteOverlayBackground_us-426143I45248498_001_Default.jpg', 
data-src_small='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_us-426143I45248498_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/VignetteOverlayBackground_Small_912x634/1466093678/VignetteOverlayBackground_us-426143I45248498_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/VignetteOverlayBackground_Standard_757x527/1466093678/VignetteOverlayBackground_us-426143I45248498_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/VignetteOverlayBackground_Standard_1514x1054/1466093678/VignetteOverlayBackground_us-426143I45248498_001_Default.jpg', 
src='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_us-426143I45248498_001_Default.jpg', alt='copy-image')
        // The dionysus buckle modal
        section#Vignette_us-s53-fs-buckle_001_Light.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
          .vignette-overlay-wrapper
            .vignette-overlay-content-wrapper
              .overlay-content.vignette-overlay-content
                .vignette-overlay-vignette-wrapper
                  section.vignette-overlay-vignette
                    .vignette-overlay-image
                      img.product-image.static(alt='Dionysus Buckle', data-src_standard='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1466093678/Vignette_us-s53-fs-buckle_001_Light.jpg', 
data-src_standard_retina='https://media.gucci.com/content/LightGray_Vignette_Standard_160x160/1466093678/Vignette_us-s53-fs-buckle_001_Light.jpg', 
data-src='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1466093678/Vignette_us-s53-fs-buckle_001_Light.jpg', 
src='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1466093678/Vignette_us-s53-fs-buckle_001_Light.jpg')
                    .vignette-overlay-signature
                      span.vignette-overlay-eyebrow Pre-Fall 2016
                      p.vignette-overlay-title Boots & Booties
                      p.vignette-overlay-copy
                        | Referencing the Greek god Dionysus, the tiger head detail can be found throughout the collection on boots, pumps and handbags.
                    a.vignette-overlay-full-vignette-cta(href='/us/en/ca/women/womens-shoes/womens-boots-booties-c-women-shoes-boots-and-booties', title='Shop boots & booties') Shop boots & booties
                .vignette-overlay-main-wrapper
                  a.overlay-close-button-first.copy-image-close-button.overlay-close(title='close', href='#Vignette_us-435466Z574B1098_001_Default')
                    span.close-button-content Close
                  figure.vignette-overlay-vignette-image-image
                    img(data-src='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_au-430427AFE001000_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/VignetteOverlayBackground_Medium_612x426/1466093678/VignetteOverlayBackground_au-430427AFE001000_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/VignetteOverlayBackground_Medium_1224x852/1466093678/VignetteOverlayBackground_au-430427AFE001000_001_Default.jpg', 
data-src_small='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_au-430427AFE001000_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/VignetteOverlayBackground_Small_912x634/1466093678/VignetteOverlayBackground_au-430427AFE001000_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/VignetteOverlayBackground_Standard_757x527/1466093678/VignetteOverlayBackground_au-430427AFE001000_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/VignetteOverlayBackground_Standard_1514x1054/1466093678/VignetteOverlayBackground_au-430427AFE001000_001_Default.jpg', 
src='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1466093678/VignetteOverlayBackground_au-430427AFE001000_001_Default.jpg', alt='copy-image')
        // The video
        section.homepage-video.video-parent(data-module='video')
          .homepage-video-copy
            .title
              | In show
            .copy
              | Men's Spring Summer 2017
            .play-video
              a.play._disabled.play-gold(data-video_id='homepage-video', href='#homepage-video')
                | Play
          figure.homepage-video-background
            img(alt='hero home', data-src_small='https://media.gucci.com/content/HomepageVideoBackgroundSmall_519x700/1466425805/HomepageVideoBackgroundSmall_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/HomepageVideoBackgroundSmall_1038x1400/1466425805/HomepageVideoBackgroundSmall_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/HomepageVideoBackgroundMedium_768x448/1466425805/HomepageVideoBackgroundMedium_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/HomepageVideoBackgroundMedium_1536x896/1466425805/HomepageVideoBackgroundMedium_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/HomepageVideoBackgroundStandard_1300x758/1466425805/HomepageVideoBackgroundStandard_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/HomepageVideoBackgroundStandard_2600x1516/1466425805/HomepageVideoBackgroundStandard_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg', 
data-src='https://media.gucci.com/content/HomepageVideoBackgroundSmall_519x700/1466425805/HomepageVideoBackgroundSmall_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg', 
src='https://media.gucci.com/content/HomepageVideoBackgroundSmall_519x700/1466425805/HomepageVideoBackgroundSmall_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg')
          script(language='JavaScript', type='text/javascript', src='https://sadmin.brightcove.com/js/api/SmartPlayerAPI.js')
          section.video-inline.video-inline-parent
            .video-wrapper
              .video-first-wrapper
                .video-second-wrapper(style='display: block;')
                  video.video-js(data-video-id='4961885854001', data-account='2924921183001', data-player='6e5bb347-d0c5-4df8-bd39-c3085b88eed5', data-embed='default', controls='', preload='none')
                  script(src='https://players.brightcove.net/2924921183001/6e5bb347-d0c5-4df8-bd39-c3085b88eed5_default/index.min.js')
              .video-actions
                a.video-actions-item.video-share(href='#homepage-video-small-share')
                  | Share
                a.video-actions-item.video-close(data-video_id='homepage-video')
                  | Close
            // .video-wrapper
            .share-wrapper
              aside#homepage-video-small-share.social-overlay-inline
                .social-overlay-inline-content
                  header.social-overlay-header
                    h5.eyebrow Share This
                    h3 In show
                  .social-overlay-icons
                    ul
                      li.social-overlay-icon
                        a.share-facebook(href='http://www.facebook.com/sharer/sharer.php?u=http://video.gucci.com/services/player/bcpid3000958488001?bctid=4961885854001&bckey=AQ~~,AAACqQLjWxk~,J7Lh4wJ33UoyWTc6fLJFK6Rrk__1umr-', onclick="window.open(this.href, 'gucci',\
                        'left=20,top=20,width=600,height=500,toolbar=1,resizable=0'); return false;")
                          span Facebook
                      li.social-overlay-icon
                        a.share-twitter(href='https://twitter.com/share?url=http%3A%2F%2Fvideo.gucci.com%2Fservices%2Fplayer%2Fbcpid3000958488001%3Fbctid%3D4961885854001%26bckey%3DAQ%7E%7E%2CAAACqQLjWxk%7E%2CJ7Lh4wJ33UoyWTc6fLJFK6Rrk__1umr-&text=In+show&via=Gucci', onclick="window.open(this.href, 'gucci',\
                        'left=20,top=20,width=600,height=500,toolbar=1,resizable=0'); return false;")
                          span Twitter
                      li.social-overlay-icon
                        a.share-pinterest(href='http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fvideo.gucci.com%2Fservices%2Fplayer%2Fbcpid3000958488001%3Fbctid%3D4961885854001%26bckey%3DAQ%7E%7E%2CAAACqQLjWxk%7E%2CJ7Lh4wJ33UoyWTc6fLJFK6Rrk__1umr-&media=http://media.gucci.com/content/HomepageVideoBackgroundSmall_519x700/1466425805/HomepageVideoBackgroundSmall_agenda-2016-m-spring-summer-fs-17-lineup_001_Default.jpg&is_video=true&description=In+show', onclick="window.open(this.href, 'gucci',\
                        'left=20,top=20,width=600,height=500,toolbar=1,resizable=0'); return false;")
                          span Pinterest
                      li.social-overlay-icon
                        a.share-email(href='#share-by-email-overlay', data-socialtitle='In show', data-socialdescription="Men's Spring Summer 2017", data-socialurl='http://video.gucci.com/services/player/bcpid3000958488001?bctid=4961885854001&bckey=AQ~~,AAACqQLjWxk~,J7Lh4wJ33UoyWTc6fLJFK6Rrk__1umr-')
                          span Email
                  .social-overlay-link-wrapper(data-module='copyLink')
                    p.copied-alert(role='alert')
                      | Link copied to clipboard.
                    .copyIcon
                      span.icon  
                    input.social-overlay-link.copy-text(type='text', value='http://video.gucci.com/services/player/bcpid3000958488001?bctid=4961885854001&bckey=AQ~~,AAACqQLjWxk~,J7Lh4wJ33UoyWTc6fLJFK6Rrk__1umr-', tab-index='0')
                  // .social-overlay-link-wrapper
                  button.social-overlay-inline-close
                    | Close
            // .share-wrapper
        // TODO: redifine the rendering of images, when we will have all the data, included the 360 images etc.
        // The sneaker section
        section.product-push.homepage(data-module='view360')
          .product-push-content-wrapper
            .product-image-wrapper
              // <img src="https://media.gucci.com/content/$format$/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg" alt="Ace embroidered low-top sneaker" />
              a(href='/us/en/co/capsule/men-ace?position=1&listName=ProductPush_us-429446A38G09064-bis')
                img.product-image.static(alt='', src='https://media.gucci.com/content/DarkGray_ProductPush_Standard_700x700/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src_standard='https://media.gucci.com/content/DarkGray_ProductPush_Standard_700x700/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src_standard_retina='https://media.gucci.com/content/DarkGray_ProductPush_Standard_1400x1400/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src_small='https://media.gucci.com/content/DarkGray_ProductPush_Small_490x490/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src_small_retina='https://media.gucci.com/content/DarkGray_ProductPush_Small_980x980/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src_medium='https://media.gucci.com/content/DarkGray_ProductPush_Medium_360x360/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src_medium_retina='https://media.gucci.com/content/DarkGray_ProductPush_Medium_720x720/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src='https://media.gucci.com/content/DarkGray_ProductPush_Standard_700x700/1462460404/ProductPush_us-429446A38G09064-new_001_Light-Ace-embroidered-low-top-sneaker.jpg')
            .product-push-content
              p.eyebrow men's shoes
              h2.product-title Ace embroidered low-top sneaker
              .shop-this
                a.button(href='/us/en/co/capsule/men-ace?position=1&listName=ProductPush_us-429446A38G09064-bis', data-style-id='429446A38G09064') shop ace
            script.
              dataLayer.push({
              "event": "productImpression",
              "ecommerce": {
              "impressions": [
              {
              "name": "Ace embroidered low-top sneaker",
              "id": "429446A38G09064",
              "price": "620.0",
              "category": "Men/Mens-Shoes/Mens-Sneakers",
              "variant": "white leather",
              "list": "ProductPush_us-429446A38G09064-bis",
              "position": "1"
              },
              ]
              }
              });
            .vignette-wrapper
              section.vignette.vignette-normal
                // TODO: set the correct copy_image_overlay_id
                a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='ProductPush_us-429446A38G09064-bis', href='#ProductPush_us-429446A38G09064-bis')
                  .image
                    // TODO: set the vignetteImageIcon properly
                    img.product-image.static(alt='The Bee', data-src_standard='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1462459503/Vignette_us-429446A38G09064_001_Light.jpg', 
data-src_standard_retina='https://media.gucci.com/content/LightGray_Vignette_Standard_160x160/1462459503/Vignette_us-429446A38G09064_001_Light.jpg', 
data-src='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1462459503/Vignette_us-429446A38G09064_001_Light.jpg', 
src='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1462459503/Vignette_us-429446A38G09064_001_Light.jpg')
                  p.title The Bee
                  p.copy One of Alessandro Michele's most recognizable emblems.
                p.link
                  a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='ProductPush_us-429446A38G09064-bis', href='#ProductPush_us-429446A38G09064-bis') more
        // The sneaker modal
        .copy-image-overlay-wrapper
          section#ProductPush_us-429446A38G09064-bis.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
            .vignette-overlay-wrapper
              .vignette-overlay-content-wrapper
                .overlay-content.vignette-overlay-content
                  .vignette-overlay-vignette-wrapper
                    section.vignette-overlay-vignette
                      .vignette-overlay-image
                        img.product-image.static(alt='The Bee', data-src_standard='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1462459503/Vignette_us-429446A38G09064_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src_standard_retina='https://media.gucci.com/content/LightGray_Vignette_Standard_160x160/1462459503/Vignette_us-429446A38G09064_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
data-src='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1462459503/Vignette_us-429446A38G09064_001_Light-Ace-embroidered-low-top-sneaker.jpg', 
src='https://media.gucci.com/content/LightGray_Vignette_Standard_80x80/1462459503/Vignette_us-429446A38G09064_001_Light-Ace-embroidered-low-top-sneaker.jpg')
                      .vignette-overlay-signature
                        span.vignette-overlay-eyebrow pre-fall 2016
                        p.vignette-overlay-title Ace Sneaker
                        p.vignette-overlay-copy
                          | Gucci's Ace sneaker updates the low-top with unexpected embellishments, including pop inspired motifs, bees and stars.
                      a.vignette-overlay-full-vignette-cta(href='/us/en/co/capsule/men-ace', title='shop ace') shop ace
                  .vignette-overlay-main-wrapper
                    a.overlay-close-button-first.vignette-close-button.overlay-close(title='close', href='#')
                      span.close-button-content Close
                    figure.vignette-overlay-vignette-image-image
                      img(data-src='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1462459504/VignetteOverlayBackground_us-429446A38G09064_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/VignetteOverlayBackground_Medium_612x426/1462459504/VignetteOverlayBackground_us-429446A38G09064_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/VignetteOverlayBackground_Medium_1224x852/1462459504/VignetteOverlayBackground_us-429446A38G09064_001_Default.jpg', 
data-src_small='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1462459504/VignetteOverlayBackground_us-429446A38G09064_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/VignetteOverlayBackground_Small_912x634/1462459504/VignetteOverlayBackground_us-429446A38G09064_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/VignetteOverlayBackground_Standard_757x527/1462459504/VignetteOverlayBackground_us-429446A38G09064_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/VignetteOverlayBackground_Standard_1514x1054/1462459504/VignetteOverlayBackground_us-429446A38G09064_001_Default.jpg', 
src='https://media.gucci.com/content/VignetteOverlayBackground_Small_456x317/1462459504/VignetteOverlayBackground_us-429446A38G09064_001_Default.jpg', alt='copy-image')
        // The agenda section
        section.style-news
          .style-news-content-wrapper
            header.style-news-header
              p.eyebrow
              h2.title the agenda
            section.style-news-content
              .items-wrapper
                .style-news-item.normal-item.even
                  .item-inner-wrapper
                    .image-wrapper
                      a(href='/us/en/article/agenda_2016_diy_london_rtw')
                        img(alt='style news image', data-src_small='https://media.gucci.com/content/StyleNewsSingle_Small_131x78/1466506806/StyleNewsSingle_s63-issue04-diy_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/StyleNewsSingle_Small_262x156/1466506806/StyleNewsSingle_s63-issue04-diy_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/StyleNewsSingle_Medium_209x124/1466506806/StyleNewsSingle_s63-issue04-diy_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/StyleNewsSingle_Medium_418x248/1466506806/StyleNewsSingle_s63-issue04-diy_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1466506806/StyleNewsSingle_s63-issue04-diy_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/StyleNewsSingle_Standard_680x404/1466506806/StyleNewsSingle_s63-issue04-diy_001_Default.jpg', 
data-src='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1466506806/StyleNewsSingle_s63-issue04-diy_001_Default.jpg', 
src='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1466506806/StyleNewsSingle_s63-issue04-diy_001_Default.jpg')
                    .title Gucci Diy
                    .link
                      a(href='/us/en/article/agenda_2016_diy_london_rtw', target='_top') CUSTOMIZING TAILORING, JACKETS AND SHOES
                // Homepage Style and News (Video) - 1st
                .style-news-item.normal-item.odd
                  .item-inner-wrapper
                    .image-wrapper
                      a(href='/us/en/article/agenda_2016_issue04_gucci_stories_chapter_three')
                        img(alt='style news image', data-src_small='https://media.gucci.com/content/StyleNewsSingle_Small_131x78/1464777004/StyleNewsSingle_s63-issue04-23stories-chapter3_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/StyleNewsSingle_Small_262x156/1464777004/StyleNewsSingle_s63-issue04-23stories-chapter3_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/StyleNewsSingle_Medium_209x124/1464777004/StyleNewsSingle_s63-issue04-23stories-chapter3_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/StyleNewsSingle_Medium_418x248/1464777004/StyleNewsSingle_s63-issue04-23stories-chapter3_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1464777004/StyleNewsSingle_s63-issue04-23stories-chapter3_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/StyleNewsSingle_Standard_680x404/1464777004/StyleNewsSingle_s63-issue04-23stories-chapter3_001_Default.jpg', 
data-src='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1464777004/StyleNewsSingle_s63-issue04-23stories-chapter3_001_Default.jpg', 
src='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1464777004/StyleNewsSingle_s63-issue04-23stories-chapter3_001_Default.jpg')
                    .title The Descent
                    .link
                      a(href='/us/en/article/agenda_2016_issue04_gucci_stories_chapter_three', target='_top') CHAPTER 3, A FILM BY GIA COPPOLA
                // Homepage Style and News (Featured) - Central big sub component
                .style-news-item.featured-item.proportional-height
                  .item-inner-wrapper
                    .image-wrapper-proportional-height
                      .image-wrapper
                        a(href='/us/en/article/agenda_2016_issue04_men_spring_summer_fashion_show_2017_gallery')
                          img(alt='style news image', data-src_small='https://media.gucci.com/content/StyleNewsDoubleVertical_Small_293x518/1466519404/StyleNewsDoubleVertical_s77-m-fashion-show-gallery-final_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/StyleNewsDoubleVertical_Small_586x1036/1466519404/StyleNewsDoubleVertical_s77-m-fashion-show-gallery-final_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/StyleNewsDoubleVertical_Medium_203x360/1466519404/StyleNewsDoubleVertical_s77-m-fashion-show-gallery-final_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/StyleNewsDoubleVertical_Medium_406x720/1466519404/StyleNewsDoubleVertical_s77-m-fashion-show-gallery-final_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/StyleNewsDoubleVertical_Standard_340x602/1466519404/StyleNewsDoubleVertical_s77-m-fashion-show-gallery-final_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/StyleNewsDoubleVertical_Standard_680x1204/1466519404/StyleNewsDoubleVertical_s77-m-fashion-show-gallery-final_001_Default.jpg', 
data-src='https://media.gucci.com/content/StyleNewsDoubleVertical_Standard_340x602/1466519404/StyleNewsDoubleVertical_s77-m-fashion-show-gallery-final_001_Default.jpg', 
src='https://media.gucci.com/content/StyleNewsDoubleVertical_Standard_340x602/1466519404/StyleNewsDoubleVertical_s77-m-fashion-show-gallery-final_001_Default.jpg')
                    .title On the Runway
                    .link
                      a(href='/us/en/article/agenda_2016_issue04_men_spring_summer_fashion_show_2017_gallery', target='_top') The Men's Spring Summer 2017 collection
                // Homepage Style and News (Normal) - Even
                .style-news-item.normal-item.even
                  .item-inner-wrapper
                    .image-wrapper
                      a(href='/us/en/article/agenda_2016_issue04_gucci_stories_chapter_four')
                        img(alt='style news image', data-src_small='https://media.gucci.com/content/StyleNewsSingle_Small_131x78/1465371914/StyleNewsSingle_s63-issue04-23stories-chapter4_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/StyleNewsSingle_Small_262x156/1465371914/StyleNewsSingle_s63-issue04-23stories-chapter4_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/StyleNewsSingle_Medium_209x124/1465371914/StyleNewsSingle_s63-issue04-23stories-chapter4_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/StyleNewsSingle_Medium_418x248/1465371914/StyleNewsSingle_s63-issue04-23stories-chapter4_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1465371914/StyleNewsSingle_s63-issue04-23stories-chapter4_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/StyleNewsSingle_Standard_680x404/1465371914/StyleNewsSingle_s63-issue04-23stories-chapter4_001_Default.jpg', 
data-src='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1465371914/StyleNewsSingle_s63-issue04-23stories-chapter4_001_Default.jpg', 
src='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1465371914/StyleNewsSingle_s63-issue04-23stories-chapter4_001_Default.jpg')
                    .title The Petition of Hades
                    .link
                      a(href='/us/en/article/agenda_2016_issue04_gucci_stories_chapter_four', target='_top') CHAPTER 4, A FILM BY GIA COPPOLA
                // Homepage Style and News (Video) - 2nd
                .style-news-item.normal-item.odd
                  .item-inner-wrapper
                    .image-wrapper
                      a(href='/us/en/article/agenda_2016_ issue04_men_spring_summer_fashion_show_2017_details')
                        img(alt='style news image', data-src_small='https://media.gucci.com/content/StyleNewsSingle_Small_131x78/1466420410/StyleNewsSingle_agenda-2016-m-spring-summer-fs-17-details_001_Default.jpg', 
data-src_small_retina='https://media.gucci.com/content/StyleNewsSingle_Small_262x156/1466420410/StyleNewsSingle_agenda-2016-m-spring-summer-fs-17-details_001_Default.jpg', 
data-src_medium='https://media.gucci.com/content/StyleNewsSingle_Medium_209x124/1466420410/StyleNewsSingle_agenda-2016-m-spring-summer-fs-17-details_001_Default.jpg', 
data-src_medium_retina='https://media.gucci.com/content/StyleNewsSingle_Medium_418x248/1466420410/StyleNewsSingle_agenda-2016-m-spring-summer-fs-17-details_001_Default.jpg', 
data-src_standard='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1466420410/StyleNewsSingle_agenda-2016-m-spring-summer-fs-17-details_001_Default.jpg', 
data-src_standard_retina='https://media.gucci.com/content/StyleNewsSingle_Standard_680x404/1466420410/StyleNewsSingle_agenda-2016-m-spring-summer-fs-17-details_001_Default.jpg', 
data-src='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1466420410/StyleNewsSingle_agenda-2016-m-spring-summer-fs-17-details_001_Default.jpg', src='https://media.gucci.com/content/StyleNewsSingle_Standard_340x202/1466420410/StyleNewsSingle_agenda-2016-m-spring-summer-fs-17-details_001_Default.jpg')
                    .title The Imagined Journey
                    .link
                      a(href='/us/en/article/agenda_2016_ issue04_men_spring_summer_fashion_show_2017_details', target='_top') THE MEN’S SPRING SUMMER 2017 SHOW
            // .style-news-content
            // Style and News fotter with View All Button
            footer.style-news-footer
              .view-all
                a.button(href='/us/en/st/the-agenda', target='_top') view all stories
          // .style-news-content-wrapper
        // .style-news
        input#numberOfComponents(type='hidden', value='6')
      // END the sections

      include footer
      include overlays
    script(type='text/javascript', src='https://www.gucci.com/_ui/responsive/common/js/hybris.js?v=287')
    script(type='text/javascript').
      /*<![CDATA[*/
      hybris.contextPath = "/us/en";
      hybris.commonResourcePath = "https://www.gucci.com/_ui/responsive/common";
      hybris.themeResourcePath = "https://www.gucci.com/_ui/responsive/theme-gucci";
      hybris.siteResourcePath = "https://www.gucci.com/_ui/responsive/site-gucci-us";
      hybris.preLoadedDeliveryModes = "";
      hybris.CSRFToken = "9e24a959-5971-4936-aa7d-40811f261da8";
      hybris.buildNumber = "287";
      hybris.mapType = "GOOGLE";
      hybris.mapURL = "";
      /*]]>*/
    // Merge 23/09/2015 - require moved from head tag
    script(src='https://www.gucci.com/_ui/responsive/common/js/libs/require/require-2.1.11.min.js')
    script.
      require.config({
          waitSeconds: 0
      });
      require(['vendor'], function(main) {
          require(['common']);
      });
      requirejs.config({
          /* Sceneric change */
          waitSeconds: 0,
          paths: {
              googleMaps: (hybris.mapType == 'NAVER' ? 'utils/naver-maps' : 'utils/google-maps'),
              googleMapsApi: (hybris.mapType == 'NAVER' ? 'utils/naver-maps-api' : 'utils/google-maps-api')
          }
      });
