extends layout

block body
  body.page-HP-USCA-s63-June-20-23-stories-conde-nast.pageType-ContentPage.template-pages--home-homepage.pageLabel-.language-en
    include header
    #page
      // The big hero thing
      header.hero.hero-large.hero-homepage.video-parent.HomepageHeroHeader_USCA_June_20(data-module='heroLarge, video')
        .hero-background-image-large-wrapper
          img.hero-background-image-large(alt='hero home', 
          data-src='images/hero/320x408.jpg', 
          data-src_medium='images/hero/768x386.jpg', 
          data-src_medium_retina='images/hero/1536x772.jpg', 
          data-src_small='images/hero/320x408.jpg', 
          data-src_small_retina='images/hero/640x816.jpg', 
          data-src_standard='images/hero/1600x640.jpg', 
          data-src_standard_retina='images/hero/3200x1280.jpg', 
          src='images/hero/320x408.jpg')
          .loop-opacity-layer  
        img.hero-background-image-large.hero-background-image-large-holder(alt='hero home', 
        data-src='images/hero/320x408.jpg', 
        data-src_medium='images/hero/768x386.jpg', 
        data-src_medium_retina='images/hero/1536x772.jpg', 
        data-src_small='images/hero/320x408.jpg', 
        data-src_small_retina='images/hero/640x816.jpg', 
        data-src_standard='images/hero/1600x640.jpg', 
        data-src_standard_retina='images/hero/3200x1280.jpg', 
        src='images/hero/320x408.jpg')
        .hero-content-wrapper.hero-large-content-wrapper
          .hero-content-centered
            h1.hero-title
              span.eyebrow 哈哈的故事
              | 						哈哈的标题语
            a.button-gold.shop-the-collection(href='shop-the-looks') 哈哈购买
        .hero-diamond
          span.hero-diamond-icon
      // END The big hero thing
      // The secitons
      .content.gutter
        // The handbag section
        section.product-push.homepage(data-module='view360')
          .product-push-content-wrapper
            // The main picture and content
            .product-image-wrapper
              a(href='/us/en/ca/women/handbags-c-women-handbags?position=1&listName=ProductPush_eu-431777CDZIT8482_bis')
                img.product-image.static._loaded(alt='', 
                src='images/handbag/1400x1400.jpg', 
                data-src_standard='images/handbag/700x700.jpg', 
                data-src_standard_retina='images/handbag/1400x1400.jpg', 
                data-src_small='images/handbag/490x490.jpg', 
                data-src_small_retina='images/handbag/980x980.jpg', 
                data-src_medium='images/handbag/360x360.jpg', 
                data-src_medium_retina='images/handbag/720x720.jpg', 
                data-src='images/handbag/700x700.jpg')
            .product-push-content
              p.eyebrow 第一部分
              h2.product-title 标题
              .shop-this
                a.button(href='/us/en/ca/women/handbags-c-women-handbags?position=1&listName=ProductPush_eu-431777CDZIT8482_bis', data-style-id='431777CDZIT8482') 购买
            script.
              dataLayer.push({
              "event": "productImpression",
              "ecommerce": {
              "impressions": [
              {
              "name": "GG Marmont leather shoulder bag",
              "id": "431777CDZIT8482",
              "price": "2600.0",
              "category": "Women/Handbags/Womens-Shoulder-Bags",
              "variant": "black leather ",
              "list": "ProductPush_eu-431777CDZIT8482_bis",
              "position": "1"
              },
              ]
              }
              });
            // The tag on the side
            .vignette-wrapper
              section.vignette.vignette-normal
                // TODO: set the correct copy_image_overlay_id
                a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='ProductPush_eu-431777CDZIT8482_bis', href='#ProductPush_eu-431777CDZIT8482_bis')
                  .image
                    // TODO: set the vignetteImageIcon properly
                    img.product-image.static(alt='Red Hearts', 
                    data-src_standard='images/handbag-tag/80x80.jpg', 
                    data-src_standard_retina='images/handbag-tag/160x160.jpg', 
                    data-src='images/handbag-tag/80x80.jpg', 
                    src='images/handbag-tag/80x80.jpg')
                  p.title 标签标题
                  p.copy 标签副标题
                p.link
                  a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='ProductPush_eu-431777CDZIT8482_bis', href='#ProductPush_eu-431777CDZIT8482_bis') 更多
        // The modal red hearts tag
        .copy-image-overlay-wrapper
          section#ProductPush_eu-431777CDZIT8482_bis.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
            .vignette-overlay-wrapper
              .vignette-overlay-content-wrapper
                .overlay-content.vignette-overlay-content
                  .vignette-overlay-vignette-wrapper
                    section.vignette-overlay-vignette
                      .vignette-overlay-image
                        img.product-image.static(alt='Red Hearts', 
                        data-src_standard='images/handbag-tag/80x80.jpg', 
                        data-src_standard_retina='images/handbag-tag/160x160.jpg', 
                        data-src='images/handbag-tag/80x80.jpg', 
                        src='images/handbag-tag/80x80.jpg')
                      .vignette-overlay-signature
                        span.vignette-overlay-eyebrow 2016年秋季
                        p.vignette-overlay-title 标题
                        p.vignette-overlay-copy
                          | 宣传语
                      a.vignette-overlay-full-vignette-cta(href='/us/en/ca/women/handbags-c-women-handbags', title='shop handbags') 购买
                  .vignette-overlay-main-wrapper
                    a.overlay-close-button-first.vignette-close-button.overlay-close(title='close', href='#')
                      span.close-button-content 关闭
                    figure.vignette-overlay-vignette-image-image
                      img(data-src='images/handbag-modal/456x317.jpg', 
                      data-src_medium='images/handbag-modal/612x426.jpg', 
                      data-src_medium_retina='images/handbag-modal/1224x852.jpg', 
                      data-src_small='images/handbag-modal/456x317.jpg', 
                      data-src_small_retina='images/handbag-modal/912x634.jpg', 
                      data-src_standard='images/handbag-modal/757x527.jpg', 
                      data-src_standard_retina='images/handbag-modal/1514x1054.jpg', 
                      src='images/handbag-modal/456x317.jpg', alt='copy-image')
        // The women section
        .giant-wrap
          .women-block.gender
            section.giant-look
              .level-up-giant-look(data-module='giantLook')
                .scrollercont
                  // The main picture
                  #look-tile.contain-image
                    .trigger
                    .img-block
                      .trigger
                      a(href='st/capsule/gucci-stories')
                        img.image.active(alt='', 
                        data-src='images/lady/792x2400.jpg', 
                        data-src_standard='images/lady/457x1384.jpg', 
                        data-src_standard_retina='images/lady/792x2400.jpg', 
                        src='images/lady/792x2400.jpg')
                    .giant-look-content-block
                      p.eyebrow 第二部分
                      h2.product-title 标题
                      .shop-this
                        a.button(href='st/capsule/gucci-stories', data-style-id='FW16_MNWLook29US') 第二部分购买
                    // Eyebrow, diamond, cta
                  // Tartan pattern tag
                  .vignette-blocks
                    .container-blocks
                      .vignette-block
                        .vignette-wrapper
                          section.vignette.vignette-normal
                            // TODO: set the correct copy_image_overlay_id
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-435466Z574B1098_001_Default', href='#Vignette_us-435466Z574B1098_001_Default')
                              .image
                                // TODO: set the vignetteImageIcon properly
                                img.product-image.static(alt='Tartan Pattern', 
                                data-src_standard='images/pants-tag/80x80.jpg', 
                                data-src_standard_retina='images/pants-tag/160x160.jpg', 
                                data-src='images/pants-tag/80x80.jpg', 
                                src='images/pants-tag/80x80.jpg')
                              p.title 标签标题
                              p.copy 标签宣传语
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-435466Z574B1098_001_Default', href='#Vignette_us-435466Z574B1098_001_Default') 更多
                      .vignette-block
                        .vignette-wrapper
                          section.vignette.vignette-normal
                            // TODO: set the correct copy_image_overlay_id
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-426143I45248498_001_Default', href='#Vignette_us-426143I45248498_001_Default')
                              .image
                                // TODO: set the vignetteImageIcon properly
                                img.product-image.static(alt='Mixed Metals', 
                                data-src_standard='images/jewelry-tag/80x80.jpg', 
                                data-src_standard_retina='images/jewelry-tag/160x160.jpg', 
                                data-src='images/jewelry-tag/80x80.jpg', 
                                src='images/jewelry-tag/80x80.jpg')
                              p.title 标题
                              p.copy 宣传语
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-426143I45248498_001_Default', href='#Vignette_us-426143I45248498_001_Default') 更多
                      .vignette-block
                        .vignette-wrapper
                          section.vignette.vignette-normal
                            // TODO: set the correct copy_image_overlay_id
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-s53-fs-buckle_001_Light', href='#Vignette_us-s53-fs-buckle_001_Light')
                              .image
                                // TODO: set the vignetteImageIcon properly
                                img.product-image.static(alt='Dionysus Buckle', 
                                data-src_standard='images/boots-tag/80x80.jpg', 
                                data-src_standard_retina='images/boots-tag/160x160.jpg', 
                                data-src='images/boots-tag/80x80.jpg', 
                                src='images/boots-tag/80x80.jpg')
                              p.title 标签标题
                              p.copy 标签标题语
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-s53-fs-buckle_001_Light', href='#Vignette_us-s53-fs-buckle_001_Light') 更多
                  // Mixed metals tag
                  .conten-block-carousel
                    .contain-carousel-giant-look(data-module='slickCarousel')
                      ul.carousel-inner
                        li.carousel-slide-vignette
                          section.vignette.vignette-popout
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-435466Z574B1098_001_Default', href='#Vignette_us-435466Z574B1098_001_Default')
                              .image
                                img.product-image.static(alt='Tartan Pattern', 
                                data-src_standard='images/pants-tag/80x80.jpg', 
                                data-src_standard_retina='images/pants-tag/160x160.jpg', 
                                data-src='images/pants-tag/80x80.jpg', 
                                src='images/pants-tag/80x80.jpg')
                              p.title 标签标题
                              p.copy 标签宣传语
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-435466Z574B1098_001_Default', href='#Vignette_us-435466Z574B1098_001_Default') 更多
                        li.carousel-slide-vignette
                          section.vignette.vignette-popout
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-426143I45248498_001_Default', href='#Vignette_us-426143I45248498_001_Default')
                              .image
                                img.product-image.static(alt='Mixed Metals', 
                                data-src_standard='images/jewelry-tag/80x80.jpg', 
                                data-src_standard_retina='images/jewelry-tag/160x160.jpg', 
                                data-src='images/jewelry-tag/80x80.jpg', 
                                src='images/jewelry-tag/80x80.jpg')
                              p.title 标签标题
                              p.copy 标签宣传语
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-426143I45248498_001_Default', href='#Vignette_us-426143I45248498_001_Default') 更多
                        li.carousel-slide-vignette
                          section.vignette.vignette-popout
                            a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-s53-fs-buckle_001_Light', href='#Vignette_us-s53-fs-buckle_001_Light')
                              .image
                                img.product-image.static(alt='Dionysus Buckle', 
                                data-src_standard='images/boots-tag/80x80.jpg', 
                                data-src_standard_retina='images/boots-tag/160x160.jpg', 
                                data-src='images/boots-tag/80x80.jpg', 
                                src='images/boots-tag/80x80.jpg')
                              p.title 标签标题
                              p.copy 标签宣传语
                            p.link
                              a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='Vignette_us-s53-fs-buckle_001_Light', href='#Vignette_us-s53-fs-buckle_001_Light') 更多
                    // Carousel
        // The tartan modal
        section#Vignette_us-435466Z574B1098_001_Default.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
          .vignette-overlay-wrapper
            .vignette-overlay-content-wrapper
              .overlay-content.vignette-overlay-content
                .vignette-overlay-vignette-wrapper
                  section.vignette-overlay-vignette
                    .vignette-overlay-image
                      img.product-image.static(alt='Tartan Pattern', 
                      data-src_standard='images/pants-tag/80x80.jpg', 
                      data-src_standard_retina='images/pants-tag/160x160.jpg', 
                      data-src='images/pants-tag/80x80.jpg', 
                      src='images/pants-tag/80x80.jpg')
                    .vignette-overlay-signature
                      span.vignette-overlay-eyebrow 2016年秋季
                      p.vignette-overlay-title 标题
                      p.vignette-overlay-copy
                        | 宣传语
                    a.vignette-overlay-full-vignette-cta(href='/us/en/ca/women/womens-ready-to-wear/womens-pants-shorts-c-women-readytowear-pants-and-shorts', title='shop pants & shorts') 购买
                .vignette-overlay-main-wrapper
                  a.overlay-close-button-first.copy-image-close-button.overlay-close(title='close', href='#Vignette_us-435466Z574B1098_001_Default')
                    span.close-button-content 关闭
                  figure.vignette-overlay-vignette-image-image
                    img(data-src='images/pants-modal/456x317.jpg', 
                    data-src_medium='images/pants-modal/612x426.jpg', 
                    data-src_medium_retina='images/pants-modal/1224x852.jpg', 
                    data-src_small='images/pants-modal/456x317.jpg', 
                    data-src_small_retina='images/pants-modal/912x634.jpg', 
                    data-src_standard='images/pants-modal/757x527.jpg', 
                    data-src_standard_retina='images/pants-modal/1514x1054.jpg', 
                    src='images/pants-modal/456x317.jpg', alt='copy-image')
        // The mixed metal modal
        section#Vignette_us-426143I45248498_001_Default.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
          .vignette-overlay-wrapper
            .vignette-overlay-content-wrapper
              .overlay-content.vignette-overlay-content
                .vignette-overlay-vignette-wrapper
                  section.vignette-overlay-vignette
                    .vignette-overlay-image
                      img.product-image.static(alt='Mixed Metals', 
                        data-src_standard='images/jewelry-tag/80x80.jpg', 
                        data-src_standard_retina='images/jewelry-tag/160x160.jpg', 
                        data-src='images/jewelry-tag/80x80.jpg', 
                        src='images/jewelry-tag/80x80.jpg')
                    .vignette-overlay-signature
                      span.vignette-overlay-eyebrow 2016年秋
                      p.vignette-overlay-title 标题
                      p.vignette-overlay-copy
                        | 宣传语
                    a.vignette-overlay-full-vignette-cta(href='/us/en/ca/women/womens-fashion-jewelry-c-women-fashion-jewelry', title='shop fashion jewelry') 购买
                .vignette-overlay-main-wrapper
                  a.overlay-close-button-first.copy-image-close-button.overlay-close(title='close', href='#Vignette_us-426143I45248498_001_Default')
                    span.close-button-content 关闭
                  figure.vignette-overlay-vignette-image-image
                    img(data-src='images/jewelry-modal/456x317.jpg', 
                      data-src_medium='images/jewelry-modal/612x426.jpg', 
                      data-src_medium_retina='images/jewelry-modal/1224x852.jpg', 
                      data-src_small='images/jewelry-modal/456x317.jpg', 
                      data-src_small_retina='images/jewelry-modal/912x634.jpg', 
                      data-src_standard='images/jewelry-modal/757x527.jpg', 
                      data-src_standard_retina='images/jewelry-modal/1514x1054.jpg', 
                      src='images/jewelry-modal/456x317.jpg', alt='copy-image')
        // The dionysus buckle modal
        section#Vignette_us-s53-fs-buckle_001_Light.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
          .vignette-overlay-wrapper
            .vignette-overlay-content-wrapper
              .overlay-content.vignette-overlay-content
                .vignette-overlay-vignette-wrapper
                  section.vignette-overlay-vignette
                    .vignette-overlay-image
                      img.product-image.static(alt='Dionysus Buckle', 
                      data-src_standard='images/boots-tag/80x80.jpg', 
                      data-src_standard_retina='images/boots-tag/160x160.jpg', 
                      data-src='images/boots-tag/80x80.jpg', 
                      src='images/boots-tag/80x80.jpg')
                    .vignette-overlay-signature
                      span.vignette-overlay-eyebrow 2016年秋
                      p.vignette-overlay-title 标题
                      p.vignette-overlay-copy
                        | 宣传语
                    a.vignette-overlay-full-vignette-cta(href='/us/en/ca/women/womens-shoes/womens-boots-booties-c-women-shoes-boots-and-booties', title='Shop boots & booties') 购买按钮
                .vignette-overlay-main-wrapper
                  a.overlay-close-button-first.copy-image-close-button.overlay-close(title='close', href='#Vignette_us-435466Z574B1098_001_Default')
                    span.close-button-content 关闭
                  figure.vignette-overlay-vignette-image-image
                    img(data-src='images/boots-modal/456x317.jpg', 
                      data-src_medium='images/boots-modal/612x426.jpg', 
                      data-src_medium_retina='images/boots-modal/1224x852.jpg', 
                      data-src_small='images/boots-modal/456x317.jpg', 
                      data-src_small_retina='images/boots-modal/912x634.jpg', 
                      data-src_standard='images/boots-modal/757x527.jpg', 
                      data-src_standard_retina='images/boots-modal/1514x1054.jpg', 
                      src='images/boots-modal/456x317.jpg', alt='copy-image')
        iframe(width="100%" height="500px" src="https://www.youtube.com/embed/TwZDKpT89Y8" frameborder="0" allowfullscreen)
        
        section.product-push.homepage(data-module='view360')
          .product-push-content-wrapper
            .product-image-wrapper
              a(href='/us/en/co/capsule/men-ace?position=1&listName=ProductPush_us-429446A38G09064-bis')
                img.product-image.static(alt='', src='images/sneakers/700x700.jpg', 
                  data-src_standard='images/sneakers/700x700.jpg', 
                  data-src_standard_retina='images/sneakers/1400x1400.jpg', 
                  data-src_small='images/sneakers/490x490.jpg', 
                  data-src_small_retina='images/sneakers/980x980.jpg', 
                  data-src_medium='images/sneakers/360x360.jpg', 
                  data-src_medium_retina='images/sneakers/720x720.jpg', 
                  data-src='images/sneakers/700x700.jpg')
            .product-push-content
              p.eyebrow 标题
              h2.product-title 副标题
              .shop-this
                a.button(href='/us/en/co/capsule/men-ace?position=1&listName=ProductPush_us-429446A38G09064-bis', data-style-id='429446A38G09064') 购买
            script.
              dataLayer.push({
              "event": "productImpression",
              "ecommerce": {
              "impressions": [
              {
              "name": "Ace embroidered low-top sneaker",
              "id": "429446A38G09064",
              "price": "620.0",
              "category": "Men/Mens-Shoes/Mens-Sneakers",
              "variant": "white leather",
              "list": "ProductPush_us-429446A38G09064-bis",
              "position": "1"
              },
              ]
              }
              });
            .vignette-wrapper
              section.vignette.vignette-normal
                // TODO: set the correct copy_image_overlay_id
                a.all-vignette-link.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='ProductPush_us-429446A38G09064-bis', href='#ProductPush_us-429446A38G09064-bis')
                  .image
                    // TODO: set the vignetteImageIcon properly
                    img.product-image.static(alt='The Bee', 
                      data-src_standard='images/sneaker-tag/80x80.jpg', 
                      data-src_standard_retina='images/sneaker-tag/160x160.jpg', 
                      data-src='images/sneaker-tag/80x80.jpg', 
                      src='images/sneaker-tag/80x80.jpg')
                  p.title 标签标题
                  p.copy 标签宣传语
                p.link
                  a.copy-image-launch-button.overlay-open(data-copy_image_overlay_id='ProductPush_us-429446A38G09064-bis', href='#ProductPush_us-429446A38G09064-bis') 更多
        // The sneaker modal
        .copy-image-overlay-wrapper
          section#ProductPush_us-429446A38G09064-bis.overlay.copy-image-overlay.vignette-overlay(data-module='overlay', data-scrolltotop='false')
            .vignette-overlay-wrapper
              .vignette-overlay-content-wrapper
                .overlay-content.vignette-overlay-content
                  .vignette-overlay-vignette-wrapper
                    section.vignette-overlay-vignette
                      .vignette-overlay-image
                        img.product-image.static(alt='The Bee', data-src_standard='images/sneaker-tag/80x80.jpg', 
                          data-src_standard_retina='images/sneaker-tag/160x160.jpg', 
                          data-src='images/sneaker-tag/80x80.jpg', 
                          src='images/sneaker-tag/80x80.jpg')
                      .vignette-overlay-signature
                        span.vignette-overlay-eyebrow 2016年秋
                        p.vignette-overlay-title 标题
                        p.vignette-overlay-copy
                          | 标签宣传语
                      a.vignette-overlay-full-vignette-cta(href='/us/en/co/capsule/men-ace', title='shop ace') 购买
                  .vignette-overlay-main-wrapper
                    a.overlay-close-button-first.vignette-close-button.overlay-close(title='close', href='#')
                      span.close-button-content 关闭
                    figure.vignette-overlay-vignette-image-image
                      img(data-src='images/sneaker-modal/456x317.jpg', 
                        data-src_medium='images/sneaker-modal/612x426.jpg', 
                        data-src_medium_retina='images/sneaker-modal/1224x852.jpg', 
                        data-src_small='images/sneaker-modal/456x317.jpg', 
                        data-src_small_retina='images/sneaker-modal/912x634.jpg', 
                        data-src_standard='images/sneaker-modal/757x527.jpg', 
                        data-src_standard_retina='images/sneaker-modal/1514x1054.jpg', 
                        src='images/sneaker-modal/456x317.jpg', alt='copy-image')
        // The agenda section
        section.style-news
          .style-news-content-wrapper
            header.style-news-header
              p.eyebrow
              h2.title the agenda
            section.style-news-content
              .items-wrapper
                .style-news-item.normal-item.even
                  .item-inner-wrapper
                    .image-wrapper
                      a(href='/us/en/article/agenda_2016_diy_london_rtw')
                        img(alt='style news image', 
                          data-src_small='images/agenda-1/131x78.jpg', 
                          data-src_small_retina='images/agenda-1/262x156.jpg', 
                          data-src_medium='images/agenda-1/209x124.jpg', 
                          data-src_medium_retina='images/agenda-1/418x248.jpg', 
                          data-src_standard='images/agenda-1/340x202.jpg', 
                          data-src_standard_retina='images/agenda-1/680x404.jpg', 
                          data-src='images/agenda-1/340x202.jpg', 
                          src='images/agenda-1/340x202.jpg')
                    .title Gucci Diy
                    .link
                      a(href='/us/en/article/agenda_2016_diy_london_rtw', target='_top') CUSTOMIZING TAILORING, JACKETS AND SHOES
                // Homepage Style and News (Video) - 1st
                .style-news-item.normal-item.odd
                  .item-inner-wrapper
                    .image-wrapper
                      a(href='/us/en/article/agenda_2016_issue04_gucci_stories_chapter_three')
                        img(alt='style news image', 
                          data-src_small='images/agenda-2/131x78.jpg', 
                          data-src_small_retina='images/agenda-2/262x156.jpg', 
                          data-src_medium='images/agenda-2/209x124.jpg', 
                          data-src_medium_retina='images/agenda-2/418x248.jpg', 
                          data-src_standard='images/agenda-2/340x202.jpg', 
                          data-src_standard_retina='images/agenda-2/680x404.jpg', 
                          data-src='images/agenda-2/340x202.jpg', 
                          src='images/agenda-2/340x202.jpg')
                    .title The Descent
                    .link
                      a(href='/us/en/article/agenda_2016_issue04_gucci_stories_chapter_three', target='_top') CHAPTER 3, A FILM BY GIA COPPOLA
                // Homepage Style and News (Featured) - Central big sub component
                .style-news-item.featured-item.proportional-height
                  .item-inner-wrapper
                    .image-wrapper-proportional-height
                      .image-wrapper
                        a(href='/us/en/article/agenda_2016_issue04_men_spring_summer_fashion_show_2017_gallery')
                          img(alt='style news image', 
                            data-src_small='images/agenda-3/203x360.jpg', 
                            data-src_small_retina='images/agenda-3/293x518.jpg', 
                            data-src_medium='images/agenda-3/340x602.jpg', 
                            data-src_medium_retina='images/agenda-3/406x720.jpg', 
                            data-src_standard='images/agenda-3/586x1036.jpg', 
                            data-src_standard_retina='images/agenda-3/680x1204.jpg', 
                            data-src='images/agenda-3/586x1036..jpg', 
                            src='images/agenda-3/680x1204.jpg')
                    .title On the Runway
                    .link
                      a(href='/us/en/article/agenda_2016_issue04_men_spring_summer_fashion_show_2017_gallery', target='_top') The Men's Spring Summer 2017 collection
                // Homepage Style and News (Normal) - Even
                .style-news-item.normal-item.even
                  .item-inner-wrapper
                    .image-wrapper
                      a(href='/us/en/article/agenda_2016_issue04_gucci_stories_chapter_four')
                        img(alt='style news image', 
                          data-src_small='images/agenda-4/131x78.jpg', 
                          data-src_small_retina='images/agenda-4/262x156.jpg', 
                          data-src_medium='images/agenda-4/209x124.jpg', 
                          data-src_medium_retina='images/agenda-4/418x248.jpg', 
                          data-src_standard='images/agenda-4/340x202.jpg', 
                          data-src_standard_retina='images/agenda-4/680x404.jpg', 
                          data-src='images/agenda-4/340x202.jpg', 
                          src='images/agenda-4/340x202.jpg')
                    .title The Petition of Hades
                    .link
                      a(href='/us/en/article/agenda_2016_issue04_gucci_stories_chapter_four', target='_top') CHAPTER 4, A FILM BY GIA COPPOLA
                // Homepage Style and News (Video) - 2nd
                .style-news-item.normal-item.odd
                  .item-inner-wrapper
                    .image-wrapper
                      a(href='/us/en/article/agenda_2016_ issue04_men_spring_summer_fashion_show_2017_details')
                        img(alt='style news image', 
                          data-src_small='images/agenda-5/131x78.jpg', 
                          data-src_small_retina='images/agenda-5/262x156.jpg', 
                          data-src_medium='images/agenda-5/209x124.jpg', 
                          data-src_medium_retina='images/agenda-5/418x248.jpg', 
                          data-src_standard='images/agenda-5/340x202.jpg', 
                          data-src_standard_retina='images/agenda-5/680x404.jpg', 
                          data-src='images/agenda-5/340x202.jpg', 
                          src='images/agenda-5/340x202.jpg')
                    .title The Imagined Journey
                    .link
                      a(href='/us/en/article/agenda_2016_ issue04_men_spring_summer_fashion_show_2017_details', target='_top') THE MEN’S SPRING SUMMER 2017 SHOW
            // .style-news-content
            // Style and News fotter with View All Button
            footer.style-news-footer
              .view-all
                a.button(href='/us/en/st/the-agenda', target='_top') view all stories
          // .style-news-content-wrapper
        // .style-news
        input#numberOfComponents(type='hidden', value='6')
      // END the sections

      include footer
      include overlays
    script(type='text/javascript', src='hybris.js')
    script(type='text/javascript').
      /*<![CDATA[*/
      hybris.contextPath = "/us/en";
      hybris.commonResourcePath = "https://www.gucci.com/_ui/responsive/common";
      hybris.themeResourcePath = "https://www.gucci.com/_ui/responsive/theme-gucci";
      hybris.siteResourcePath = "https://www.gucci.com/_ui/responsive/site-gucci-us";
      hybris.preLoadedDeliveryModes = "";
      hybris.CSRFToken = "9e24a959-5971-4936-aa7d-40811f261da8";
      hybris.buildNumber = "287";
      hybris.mapType = "GOOGLE";
      hybris.mapURL = "";
      /*]]>*/
    // Merge 23/09/2015 - require moved from head tag
    script(src='libs/require/require-2.1.11.min.js')
    script.
      require.config({
          waitSeconds: 0
      });
      require(['vendor'], function(main) {
          require(['common']);
      });
      requirejs.config({
          /* Sceneric change */
          waitSeconds: 0,
          paths: {
              googleMaps: (hybris.mapType == 'NAVER' ? 'utils/naver-maps' : 'utils/google-maps'),
              googleMapsApi: (hybris.mapType == 'NAVER' ? 'utils/naver-maps-api' : 'utils/google-maps-api')
          }
      });
