doctype html
// [if gt IE 9] <!
html.no-js.gt-ie9.gt-ie8.gt-ie7.gt-ie6(lang='en', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://opengraphprotocol.org/schema')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Technical specification provided with story GUC-433
    meta(name='title', content='#{title}')
    // Technical specification provided with story GUC-433
    meta(name='description', content='#{description}')
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    link(rel='apple-touch-icon', href='images/static-images/GG_Icon_iOS_57.png', sizes='57x57')
    link(rel='apple-touch-icon', href='images/static-images/GG_Icon_iOS_72.png', sizes='72x72')
    link(rel='apple-touch-icon', href='images/static-images/GG_Icon_iOS_114.png', sizes='114x114')
    link(rel='apple-touch-icon', href='images/static-images/GG_Icon_iOS_144.png', sizes='144x144')
    link(rel='shortcut icon', href='images/static-images/favicon.png')
    title= title
    link(rel='stylesheet', href='index.css')
    script(src='modernizer.js')

  block body
